$ColorLetras: #B6DA0B;
$ColoresLetrasB: #7B9677;
$White: #FFFFFF;
$AnchoMax: 100%;
$ColorA: /*#30BD9A;*/#16A78C;
$ColorB: /*#FDA40F;*/#5DB59F;
$ColorC: /*#E5CC06;*/#98D4C5;
$ColorD: /*#FEE128;*/#9CC1B2;
$ColorE: #F1F5F3;
$ColorF: #3BA095;
$ColorG: #B01760;
$ColorH: #F0C22A;
$ColorI: #3BA095;
$ColorJ: #8FB2BE;
$ColorK: #2C362A;
$ColorFuente: #0A3832;
$BackCarruselA: #0C6354;
$BackCarruselB: #48A588;
$BackCarruselC: #7B9677;