/*.................Contact....................*/
.Contact {
	padding: 2% 0%;
}
hr {
	border: 1px solid $ColorG;
}
i{
	margin-top: 40px;
}
.Comillas {
	font-size: 27px;
}
.IcoContac {
	width: 6%;
	margin: 2% 2% 0% 2%;
}
.llaves {
	color:#4B9180;
}