/*.................Contact....................*/
.Contact {
	padding: 2% 0%;
}
.ContacText {
	h4 {
		color: #778E72;
	}
	.Lp {
	padding: 2px 5px;
	}
}
hr {
	border: 1px solid $ColorG;
}
i{
	margin-top: 40px;
}
.Comillas {
	font-size: 27px;
}
.IcoContac {
	width: 20%;
	margin: 2% 2% 0% 2%;
}
.llaves {
	color:#4B9180;
}