/*..............Medias..................*/
@media (max-width: 770px) {
  .Ico-X {
    display: none;
  }
  .CajasMenu {
  	padding: 2% 0% !important;
  }
  .Comillas {
  	font-size: 18px !important;
  }
  .ImgTlapalli{
	width: 40%;
  }
  .IcoContac {
    width: 20% !important;
  }
  .CarruselR {
  margin-top: 5% !important;
  }
  .ImgFoto {
  border-radius: 100%;
  width: 40% !important;
  }
  .ImgSignos{
    width: 10%;
  }
}
