h1 {
	color: $White;
	margin-bottom: 8%;
}
.L1{
	background-color: $ColorA;
	color: $White;
}
.L2{
	background-color: $ColorLetras;
}
.Lp {
	padding: 5px;
}
.DivImg {
	width: $AnchoMax;
}
.Img {
	width: $AnchoMax;
}